.main{
    border: 2px solid black;
    width: 200px;
    font-size: 30px;
    margin: 0 auto;
}
.a{
    width: 96%;
    background-color: cornflowerblue;
    
}
.clearBtn{
    width: 100%;
    background-color: cornflowerblue;
}
.clearBtn:hover{
    background-color: lightgray;
}
.btn{
    background-color: cornflowerblue;
    width: 20%;
    margin: 2px;
}
.btn:hover{
    background-color: lightgrey;
}
.btn1{
    width: 45%;
    margin: 2px;
    background-color: cornflowerblue;
}
.btn1:hover{
    background-color: lightgrey;
}